 <!-- Image -->
 <div class="view zoom z-depth-1">

    <img src="{{ asset('banier/103335482_134598471583511_5955841414218039269_n.jpg')}}" class="img-fluid"
        alt="sample image">

    <div class="mask rgba-white-light">

        <div class="dark-grey-text d-flex align-items-center pt-4 ml-3 pl-3">

            <div>    
                <a><span class="badge badge-danger">bestseller</span></a>

                <h2 class="card-title font-weight-bold pt-2"><strong>This is news title</strong></h2>

                <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

                <a
                    class="btn btn-danger btn-sm btn-rounded clearfix d-none d-md-inline-block waves-effect waves-light">Read
                    more</a>

            </div>

        </div>

    </div>

</div>
<!-- Image -->