{% extends 'base.html.twig' %}

{% block title %}dongroh Market
{% endblock %}

{% block body %}

<div class="row">

  {#% include "sidebar.html.twig" %#}
 <div class="col-sm-12">
  {% include "home/top.html.twig" %}
 </div>
  <div class="col-lg-12">
    {#% include "caroussel.html.twig" %#}
    <div class="row" data-aos="flip-left">
      {% include "home/listing.html.twig" %}
    </div>
  </div>
</div>

{% endblock %}
