{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container mt-2">
    <div class="row center">
        <div class="col-sm-8">
            <div class="jumbotron">
                {{ form_start(registrationForm) }}
                {{ form_widget(registrationForm) }}

                <button type="submit" class="btn btn-sm rounded primary-color-dark text-white">Register</button>
                {{ form_end(registrationForm) }}
                <div class="center">
                   Déjà un compte ? <a href="{{ path('app_login') }}">Connexion</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}