{% extends 'base.admin.html.twig' %}

{% block title %}Hello NotificationController!{% endblock %}

{% block body %}
<div class="container">
    <div class="collection">
        {% for n in notifications %}
            <a href="{{ path('notification_view',{'id':n.id})}}" class="collection-item">{{n.titre}}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}