{% extends 'base.html.twig' %}

{% block title %}
    videos Video
{% endblock %}

{% block body %}
	<div class='container'>
		<div class="row mt-2">
           {% include "video/listing.html.twig" %}
		</div>
	</div>
{% endblock %}
