<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="{% include 'desc.html.twig' %} ">
  <meta name="author" content="yamingue">

  <title>{% block title %}{% endblock %}</title>
  {% block meta %} {% endblock %}
{{ encore_entry_link_tags('app') }}
 {{ encore_entry_script_tags('app') }}

</head>

<body>
  {% include "header.html.twig" %}

	{#% include "sidenave.html.twig" %#}
  <!-- Page Content -->
  <main>
    <div class="container">

      {% block body %}{% endblock %}
  
    </div>
  </main>
  <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  {% include "footer.html.twig" %}
  <script type="text/javascript">
    {% for s in app.flashes('success') %}
    
    toastr.success('{{ s }}');
  
    {% endfor %}
  </script>
  {% block js %}
    
  {% endblock %}
  <script>
    AOS.init();
  </script>

</body>

</html>