<footer class="py-3 bg-dark mt-2">
  {% set d = date('Y') %}
    <div class="container grid-footer">
      <div class="text-white text-left">
        <b> contacte </b> : <br>
        Email : contact@dongroh.com <br>
        Tel : 694710188/ 693087282
      </div>
      <div class="m-0 text-right text-white">&copy; Dongroh {{ d |date("Y") }} </div>
    </div>
    <!-- /.container -->
  </footer>